<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title>Tumblistr</title>
        <link rel="stylesheet" type="text/css" href="tumblr-client.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="animate.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
        <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
        <script type="text/x-template" id="dialog-template">
            <div class="dialog-background">
                <div class="dialog-box">
                    <div class="dialog-title">{{title}}</div>
                    <div class="dialog-content">
                        <slot></slot>
                    </div>
                    <div class="dialog-buttons">
                        <slot name="buttons"></slot>
                    </div>
                </div>
            </div>
        </script>
    </head>
    <body>
        <div id="root" style="display:none;" v-show="initialized">
            <dialog-box v-if="mode && mode.type==='openblog'">
                {{mode.target}}
                <select v-model:lazy="temporalTypeFilter">
                        <option value="">All</option>
                        <option value="text">Text</option>
                        <option value="photo">Photo</option>
                        <option value="quote">Quote</option>
                        <option value="link">Link</option>
                        <option value="chat">Chat</option>
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                        <option value="answer">Answer</option>
                </select>
                Tag:<input type="text" v-model.lazy="temporalTagFilter">
                <div slot="buttons"><button type="button" v-on:click="openBlog(mode.target, temporalTypeFilter, temporalTagFilter, mode.detail);temporalTypeFilter=''; temporalTagFilter='';mode=null">Open</button></div>
            </dialog-box>
            <dialog-box v-if="mode && mode.type==='opendashboard'">
                Dashboard
                <select v-model:lazy="temporalTypeFilter">
                    <option value="">All</option>
                    <option value="text">Text</option>
                    <option value="photo">Photo</option>
                    <option value="quote">Quote</option>
                    <option value="link">Link</option>
                    <option value="chat">Chat</option>
                    <option value="audio">Audio</option>
                    <option value="video">Video</option>
                    <option value="answer">Answer</option>
                </select>
                <div slot="buttons"><button type="button" v-on:click="openDashboard(temporalTypeFilter);temporalTypeFilter='';mode=null">Open</button></div>
            </dialog-box>
            <dialog-box id="consumer-token-input" v-if="consumerTokenStatus!=='valid'">
                Set the consumer key and consumer secret.
                <div>   
                    <div v-if="consumerTokenStatus==='invalid'">{{consumerTokenError}}</div>
                    <div><label>consumer key : </label><input type="text" v-model.lazy="temporalConsumerKey"></div>
                    <div><label>consumer secret : </label><input type="text" v-model.lazy="temporalConsumerSecret"></div>
                </div>
                <div slot="buttons"><button type="button" v-on:click="validateConsumerToken(temporalConsumerKey,temporalConsumerSecret)">Set</button></div>
            </dialog-box>
            <div id="grid-container">
                <div id="tabs">
                    <span v-for="tab in tabs" v-on:click="selectTab(tab);" v-on:dblclick="closeTab(tab);" v-bind:class="['tab', {selected: tab.selected}]">
                        <i v-if="tab.content==='dashboard'" class="zmdi zmdi-view-dashboard"></i>
                        <i v-else-if="tab.content==='mylikes'" class="zmdi zmdi-favorite"></i>
                        <span v-else>
                            <img v-bind:src="avatarUrl(tab.blogName)">{{tab.blogName}}
                        </span>
                        <i v-if="tab.type==='text'" class="zmdi zmdi-format-size c-text"></i>
                        <i v-else-if="tab.type==='photo'" class="zmdi zmdi-camera c-photo"></i>
                        <i v-else-if="tab.type==='quote'" class="zmdi zmdi-quote c-quote"></i>
                        <i v-else-if="tab.type==='link'" class="zmdi zmdi-link c-link"></i>
                        <i v-else-if="tab.type==='chat'" class="zmdi zmdi-comments c-chat"></i>
                        <i v-else-if="tab.type==='audio'" class="zmdi zmdi-audio c-audio"></i>
                        <i v-else-if="tab.type==='video'" class="zmdi zmdi-movie c-video"></i>
                        <i v-else-if="tab.type==='answer'" class="zmdi zmdi-text-format c-answer"></i>
                    </span>
                    <span v-on:click="selectTab(null)" v-bind:class="['tab', {selected: selectedTab==null}]">+</span>
                </div>
                <div id="tab-contents">
                    <div class="tab-content" v-bind:id="tab.key" v-show="tab===selectedTab" v-for="tab in tabs" v-scroll-on-resize v-on:scroll="(e)=>triggerLoadPosts(tab, e.currentTarget)" v-watch-selection="selectedPost" v-on-inserted="(el)=>triggerLoadPosts(tab, el)" v-on-component-updated="(e) => triggerLoadPosts(tab, e)">
                        <div v-bind:class="[{selected: post===selectedPost}, 'post-cell']" v-for="(post,k,i) in tab.posts" :key="post.id" v-on:mousedown.prevent="select(tab, post)">
                            <div class="post-thumbnail" v-if="post.type==='text'" v-once>
                                <p>{{post.summary}}</p>
                            </div>
                            <div class="post-thumbnail" v-else-if="post.type==='photo'" v-once>
                                <img v-bind:src="post.photos[0].alt_sizes[post.photos[0].alt_sizes.length-1].url">
                            </div>
                            <div class="post-thumbnail" v-else-if="post.type==='quote'" v-once>
                                <p>{{post.summary}}</p>
                            </div>
                            <div class="post-thumbnail" v-else-if="post.type==='link'" v-once>
                                <p>{{post.summary}}</p>
                            </div>
                            <div class="post-thumbnail" v-else-if="post.type==='chat'" v-once>
                                <p>{{post.summary}}</p>
                            </div>
                            <div class="post-thumbnail" v-else-if="post.type==='audio'" v-once>
                                <p>AUDIO</p><!-- TODO -->
                            </div>
                            <div class="post-thumbnail" v-else-if="post.type==='video'" v-once>
                                <img v-bind:src="post.thumbnail_url" v-bind:class="post.thumbnail_width > post.thumbnail_height ? 'landscape': 'portrait'">
                            </div>
                            <div class="post-thumbnail" v-else-if="post.type==='answer'" v-once>
                                <p>{{post.summary}}</p><!-- TODO -->
                            </div>
                            <div class="post-overlay">
                                <div v-if="post.type==='video'||post.type==='audio'||post.type==='link'||post.type==='photo'&&post.photos.length>1" class="post-icon post-type-icon" v-once>
                                    <i v-if="post.type==='video'" class="zmdi zmdi-play-circle"></i>
                                    <i v-else-if="post.type==='audio'" class="zmdi zmdi-audio"></i>
                                    <i v-else-if="post.type==='link'" class="zmdi zmdi-link"></i>
                                    <i v-else-if="post.type==='photo' && post.photos.length > 1" class="zmdi zmdi-collection-image"></i>
                                </div>
                                <div v-if="post.reblogging" class="action-icon post-icon reblog-icon"><i class="zmdi zmdi-refresh zmdi-hc-5x zmdi-hc-spin"></i></div>
                                <div v-if="post.liking" class="action-icon post-icon like-icon"><i class="zmdi zmdi-favorite zmdi-hc-5x animated infinite pulse"></i></div>
                                <div v-if="post.reblogged || post.liked" class="action-history-icon post-icon">
                                    <div v-if="post.reblogged" class="reblog-icon"><i class="zmdi zmdi-refresh-alt zmdi-hc-flip-horizontal"></i></div>
                                    <div v-if="post.liked" class="like-icon"><i class="zmdi zmdi-favorite"></i></div>
                                </div>    
                            </div>
                        </div><div v-if="tab.loading" class="post-cell">
                            <div class="loading"><i class="zmdi zmdi-spinner zmdi-hc-spin zmdi-hc-4x"></i></div>
                        </div>
                    </div>
                    <div id="user" v-show="selectedTab===null || selectedTab===undefined">
                        <div id="logged-in-content"  v-if="userData">
                            <div>Logging in as {{userData.name}}</div>
                            <div><button type="button" v-on:click="mode={type:'opendashboard'}">Open dashboard</button></div>
                            <div><button type="button" v-on:click="openMyLikes">Open my likes</button></div>
                            <a v-if="userData" v-for="blog in userData.blogs" v-on:click="mode={type:'openblog', target:blog.name, detail: blog}">{{blog.name}}</a>
                            <div><input v-model:lazy="temporalBlogName">.tumblr.com <button type="button" v-on:click="mode={type:'openblog', target:temporalBlogName, detail: null}">Open</button></div>
                        </div>
                        <div id="login">
                            <button type="button" v-on:click="authorize">Auth</button>
                        </div>
                        <md-button>MD=BUTTON</md-button>
                    </div>
                </div>
                <div id="controls">
                    <div id="debug-function" v-if="debug===true">
                        <button v-on:click="clearStoredValues">clear stored values</button>
                    </div>
                    <div id="account-control">
                        <span v-if="userData"><i class="zmdi zmdi-accounts"></i> {{userData.name}}</span>
                        <button title="change account"><i class="zmdi zmdi-swap-alt"></i></button>
                        <button title="add account"><i class="zmdi zmdi-account-add"></i></button>
                    </div>
                    <div id="like-control">
                        <button title="like current post" v-show="!selectedPost || !selectedPost.liked" v-on:click="likeCurrentPost"><i class="zmdi zmdi-favorite like-icon"></i>like</button>
                        <button title="unlike current post" v-show="selectedPost && selectedPost.liked" v-on:click="unlikeCurrentPost"><i class="zmdi zmdi-favorite-outline unlike-icon"></i>unlike</button>
                    </div>
                    <div id="reblog-control">
                        <button title="reblog current post" v-on:click="reblogCurrentPost"><i class="zmdi zmdi-refresh-alt zmdi-hc-flip-horizontal reblog-icon"></i>reblog</button> to 
                        <select v-if="userData && userData.blogs" v-model="reblogTo">
                            <option v-for="blog in userData.blogs" v-bind:value="blog.name">{{blog.name}}</option>
                        </select>
                    </div>
                </div>
                <div id="post-detail">
                    <div class="detail-content" v-if="selectedPost" v-on:wheel="subcontentScroll">
                        <div class="detail-body">
                            <div v-bind:class="['content',selectedPost.type]" v-if="selectedPost.type!=='video'">
                                <div v-if="selectedPost.type==='text'"><h1>{{selectedPost.title}}</h1><div v-html="selectedPost.body"></div></div>
                                <img v-else-if="selectedPost.type==='photo'" v-bind:src="selectPhoto(selectedPost)" :key="selectPhoto(selectedPost)">
                                <div v-else-if="selectedPost.type==='quote'" class="quote"><blockquote v-html="selectedPost.text"></blockquote></blockquote><div v-html="selectedPost.source"></div></div>
                                <div v-else-if="selectedPost.type==='link'" class="link"><a v-bind:href="selectedPost.url">{{selectedPost.publisher}}</a><div  v-html="selectedPost.description"></div></div>
                                <div v-else-if="selectedPost.type==='chat'" class="chat" v-html="selectedPost.body.replace(/\n/g,'<br/><br/>')"></div>
                                <div v-else-if="selectedPost.type==='audio'" class="audio" v-html="selectedPost.player"></div>
                                <div v-else-if="selectedPost.type==='answer'" class="answer" v-html="selectedPost.text"></div>
                            </div>
                            <div v-if="selectedPost.type==='video' && selectedPost.video_type === 'tumblr'" v-bind:class="['content',selectedPost.type]" v-html="selectedPost.player[selectedPost.player.length-1].embed_code"></div>
                            <div v-else-if="selectedPost.type==='video'" class="video" v-html="selectedPost.player[selectedPost.player.length-1].embed_code"></div>
                            <div class="post-overlay">
                                <div v-if="selectedPost.reblogging" class="action-icon post-icon reblog-icon"><i class="zmdi zmdi-refresh zmdi-hc-5x zmdi-hc-spin"></i></div>
                                <div v-if="selectedPost.liking" class="action-icon post-icon like-icon"><i class="zmdi zmdi-favorite zmdi-hc-5x animated infinite pulse"></i></div>
                            </div>
                        </div>
                        <div class="detail-subcontent">
                            <img v-if="selectedPost.type==='photo' && selectedPost.photos.length > 1"  v-for="(photo, index) in selectedPost.photos" :key="index + photo.original_size.url" v-show-on-load="photo.alt_sizes[photo.alt_sizes.length-2].url" v-on:click="selectPhoto(selectedPost, index)" v-bind:class="index===selectedPost.selectedPhotoIndex ? 'selected': ''">
                        </div>
                    </div>
                    <div class="detail-metadata" v-if="selectedPost" v-on:click="showDetailMetadata=!showDetailMetadata">
                        <div>
                            <div class="always-shown">
                                <span v-on:click="mode={type:'openblog', target:selectedPost.blog_name, detail: null}"><img v-bind:src="avatarUrl(selectedPost.blog_name)">{{selectedPost.blog_name}}</span>
                                <span v-text="timestampToDate(selectedPost.timestamp)"></span>
                                <!--<span v-text="new Date().getTimezoneOffset()"></span>-->
                                <span>({{selectedPost.note_count}} notes / {{selectedPost.tags.length}} tags)</span>
                                <div class="action-history">
                                    <span v-if="selectedPost.reblogged" class="reblog-icon"><i class="zmdi zmdi-refresh-alt zmdi-hc-flip-horizontal"></i></span>
                                    <span v-if="selectedPost.liked" class="like-icon"><i class="zmdi zmdi-favorite"></i></span>
                                </div>
                            </div>
                            <div v-show="showDetailMetadata">
                                <div>
                                    <button v-for="tag in selectedPost.tags" class="tag">{{tag}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tokenObserver" style="display: none;"></div>
    </body>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
</html>